.container {
  padding: 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

@-webkit-keyframes move_wave {
  from {
    background-position: 0% top;
  }

  to {
    background-position: 50% top;
  }
}

@keyframes move_wave {
  from {
    background-position: 0% top;
  }

  to {
    background-position: 50% top;
  }
}

.main {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 10rem 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}



.title {
  margin: 0;
  margin-bottom: 1em;
  line-height: 1.15;
  font-size: 1.5rem;
}

.description {
  font-size: 1.2em;
  line-height: 1.2em;
}